# https://docs.github.com/actions

name: Lint

on: [push, pull_request]

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Lint configuration using Gixy
        uses: docker://yandex/gixy:latest
        with:
          args: /github/workspace/nginx.conf
